include includes/header.pug
block content
    body
        div(class="wrapper")
            include includes/sidebar.pug
            div(class="main-panel" id="main-panel")
                include includes/navbar.pug
                div(class="content")
                    div(class="row")
                        div(class="col-md-12")
                            div(class="card")
                                div(class="card-header")
                                    h5(class="title") Overview
                                div(class="card-body")
                                    div(class="row")
                                        div(class="col-lg-4 col-sm-6")
                                            div(class="box-field d-flex justify-content-between")
                                                div(class="stat")
                                                    h6 Customers 
                                                    p #{customers}
                                                div(class="icon")
                                                    i(class="tim-icons icon-single-02")
                                        div(class="col-lg-4 col-sm-6")
                                            div(class="box-field d-flex justify-content-between")
                                                div(class="stat")
                                                    h6 Groups 
                                                    p #{groups}
                                                div(class="icon")
                                                    i(class="tim-icons icon-badge")
                                .card-body
                                    p.title Recent Payments
                                        if payments.length > 0
                                            div(class="table-responsive form-field")
                                                table(class="table table-bordered" id="dataTable")
                                                    thead
                                                        th Date
                                                        th Type
                                                        th Group 
                                                        th MOP
                                                    tbody
                                                        each payment in payments
                                                            tr
                                                                td #{payment.paymentDate.toLocaleDateString()}
                                                                td #{payment.paymentType}
                                                                td #{payment.group.name}
                                                                td #{payment.paymentMeans}
        include includes/footer.pug
    