include includes/header.pug
block content
    body
        div(class="wrapper")
                include includes/sidebar.pug
                div(class="main-panel" id="main-panel")
                    include includes/navbar.pug
                    div(class="content")
                        div(class="row")
                            div(class="col-md-12")
                                div(class="card")
                                    div(class="card-header")
                                        h4(class="title mb-3") Debit Transactions
                                        h5.text-center These are all debit transactions
                                    .card-body
                                        .row.justify-content-center
                                            .col-md-10
                                                if debits.length > 0
                                                    div(class="table-responsive form-field")
                                                        table(class="table table-bordered" id="dataTable")
                                                            thead
                                                                th Customer 
                                                                th Amount
                                                                th Date
                                                                th MOP
                                                            tbody
                                                                each debit in debits
                                                                    tr
                                                                        td #[a(href=`/dashboard/stats/customer/${debit.customer._id}`) #{debit.customer.firstName} #{debit.customer.lastName}]
                                                                        td &#x20A6;#{debit.amount.toLocaleString()}
                                                                        td #{debit.paymentDate.toLocaleDateString()}
                                                                        td #{debit.paymentMeans}
                                                else    
                                                    p There are no payments
    



    include includes/footer.pug